@media screen and (max-width: 1720px) {
  .join {
    &__section {
      &__text {
        &-info {
          font-size: 28px;
        }
      }
    }
  }
  .invest {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1650px) {
  .container-header {
    max-width: 1440px;
  }
  .invest {
    &__section {
      &__pic {
        transform: translate(-80%, -50%);
        width: 250px;
      }
      &__white {
        left: 65%;
        right: 35px;
      }
      &__black {
        padding-right: 230px;
        padding-left: 40px;
      }
      &__white,
      &__black {
        &__heading {
          font-size: 24px;
        }
        &__text {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .container-header {
    max-width: 1200px;
  }
  .title {
    margin-top: 72px;
    font-size: 64px;
  }
  .invest {
    &__section {
      overflow: scroll;
      &__black {
        padding-right: 150px;
      }

      &__pic {
        left: 110%;
      }

      &__white {
        width: 300px;
        top: 100px;
        left: 120%;
        padding-right: 20px;
        &__button {
          margin-top: 40px;
          padding: 12px 48px;
        }
      }
    }
  }

  .join {
    &__section {
      &__text {
        padding: 100px 24px 140px 100px;
        &-info {
          margin-bottom: 20px;
        }
      }
      &__img {
        display: flex;
        align-items: center;

        .crypto_phone {
          width: 250px;
        }
        &-box {
          padding: 40px 100px 38px;
        }
      }
    }
    &__button {
      padding: 16px 70px;
    }
  }

  .footer {
    &__info {
      &__messagers {
        padding: 0;
      }
    }
  }
  .media-container {
    width: 1200px;
    margin: 70px auto;
  }
  .invest {
    &__section {
      overflow: scroll;

      &__black {
        padding-right: 550px;
      }
    }
  }
  .role {
    .role-slide {
      &__text {
        height: 400px;
        width: 500px;
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .container-header {
    max-width: 990px;
  }
  .title {
    font-size: 64px;
    margin-top: 48px;
  }
  .subtitle {
    font-size: 18px;
  }

  .advantages {
    &__section {
      &__links {
        grid-template-columns: repeat(2, 2fr);
      }
      &__send__button {
        margin-left: 20px;
      }
    }
  }
  .role {
    .role-slide {
      &__img {
        display: none !important;
      }
      &__text {
        height: fit-content;
        width: auto;
      }
    }
  }

  .comparation__section__box__blocks__item-heading {
    font-size: 24px;
    padding: 0 30px;
  }
  .comparation__section__box__features__items {
    padding-left: 0;
    padding-right: 0;
    li {
      &:first-child {
        margin-top: 50px;
      }
    }
  }
  .benefits__title {
    margin-top: 120px;
  }
  .faq {
    &__section {
      .dropdown {
        padding-right: 0;
        &__title {
          padding: 0;
        }
      }
      &__box {
        padding-right: 100px;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .container-header {
    max-width: 770px;
  }
  .title {
    margin-top: 56px;
    font-size: 32px;
  }
  .subtitle {
    font-size: 16px;
  }

  .start {
    max-width: 650px;
    margin: 0 auto;
    &__section {
      &-text {
        font-size: 14px;
        max-width: 550px;
      }
    }
  }

  .reviews {
    margin-bottom: 64px;
  }
  .join {
    padding: 0 20px;
    &__section {
      flex-direction: column;

      text-align: center;
      &__text {
        padding: 24px;
        &-info {
          text-align: left;
          font-size: 24px;
          font-weight: normal;
          margin: 0;
        }
        &__media-button {
          margin: 0;
          margin-top: 10px;
        }
      }
      &__img {
        display: flex;
        justify-content: center;
        &-box {
          .crypto_phone {
            width: 150px;
          }
        }
      }
    }
    .join__button {
      margin: 24px auto;
    }
  }
  .role {
    margin-top: 64px;
    .role-slide {
      padding: 24px;
      &__info {
        height: 250px;
        width: auto;
        display: block;
      }
      &__title {
        font-size: 14px;
      }
      &__subtitle {
        font-size: 14px;
      }
      &__count {
        font-size: 48px;
      }
    }
  }
  .invest {
    &__section {
      margin-top: 64px;
    }
  }
  .result {
    .result-slide {
      &__count {
        margin-bottom: 0;
      }
    }
    &__subtitle {
      padding-bottom: 0;
    }
  }

  .comparation {
    padding: 0 20px;
    margin-top: 64px;
    &__section {
      &__box {
        &__features {
          gap: 16px;

          &__items {
            padding: 30px 16px 32px;

            li {
              margin-top: 24px;
              font-size: 14px;
              font-weight: bold;
            }
          }
        }
        &__blocks {
          overflow: scroll;
          padding: 20px;
          .slide1 {
            background-color: var(--white);
          }

          .slide2 {
            background-color: var(--gray-dark);
          }

          .slide3 {
            background-color: var(--black);
            color: var(--white);
          }

          &__item {
            padding: 32px 30px;
            margin: 0;
            margin-right: 16px;

            &-heading {
              font-size: 20px;
              width: 110px;
              margin-top: 10px;
              margin: 0;
              padding: 0;
            }

            ul {
              padding: 0;
              margin: 0;
            }
            li {
              margin-top: 24px;

              &:first-child {
                margin: 0;
              }

              img {
                width: 24px;
              }
            }
          }
        }
      }
      &__send {
        justify-content: center;
        padding: 32px 20px 0 20px;
        &-box {
          &__text {
            font-weight: normal;
            font-size: 18px;
            margin: 0 0 20px 0;
          }
        }
      }
    }
  }

  .comparation__button {
    button {
      padding: 12px 80px;
    }
  }

  .faq {
    &__section {
      &__box {
        &__heading {
          font-size: 32px;
        }
        &__text {
          font-size: 16px;
        }
      }
      .dropdown {
        &__title {
          font-size: 14px;
        }
      }
      &__box {
        padding-right: 100px;
      }
    }
  }
  .footer {
    &__info {
      &__set {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__contacts {
      gap: 24px;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 750px) {
  .invest {
    &__section {
      overflow: scroll;
      &__black {
        padding-right: 350px;
      }
    }
  }
  .advantages__section__send__button {
    padding: 16px 100px;
  }
  .faq {
    &__section {
      margin-top: 34px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      &__box {
        &__heading {
          font-size: 24px;
        }
        &__text {
          font-size: 14px;
        }
      }
    }
    .dropdown {
      padding: 0;
      &__title {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .container-start {
    max-width: 550px;
  }
  .button {
    padding: 12px 48px;
    font-size: 16px;
  }

  .title {
    margin-top: 64px;
    font-size: 24px;
  }
  .subtitle {
    font-size: 14px;
  }

  .header__section__nav-bar__link {
    display: none;
  }

  .container-header {
    max-width: 550px;
  }

  .header {
    .menu--right {
      display: block;
    }
  }

  .invest {
    margin-top: 64px;
  }
  .start {
    &__section {
      &-heading {
        font-size: 24px;
      }
      &-text {
        font-size: 14px;
      }
    }
  }

  .advantages {
    &__section {
      margin: 0 auto;
      padding: 0 20px;
      &__heading {
        font-size: 24px;
        &-small {
          font-size: 14px;
        }
      }

      &__links {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: repeat(1, 1fr);
        &__item {
          &__header {
            margin: 0;
            font-size: 16px;
          }
          &__text {
            font-size: 14px;
          }
        }
      }
      &__send {
        display: flex;
        justify-content: center;

        &-box {
          padding: 0 20px;
          margin-top: 0;
          flex-direction: column;
          &__text {
            font-size: 16px;
          }
        }
        &__button {
          justify-self: center;
          width: 185px;
          padding: 12px 48px;
          border-radius: 40px;
          margin-top: 20px;
          &-container {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
  .comparation {
    &__section {
      &__send {
        padding-top: 0;

        &-box {
          flex-direction: column;
          align-items: center;
          text-align: center;

          &__text {
            font-size: 16px;
            font-weight: normal;
            margin: 0;
          }

          &__button {
            button {
              padding: 12px;
            }
          }
        }
      }
    }
  }
  .form {
    margin: 0 auto;
  }
  .footer {
    &-desktop {
      display: none;
    }
    &-mobile {
      display: block;
      font-size: 12px;
      // width: 335px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;

      &__box {
        display: flex;
        justify-content: space-between;
        &__contacts {
          &__items {
            display: flex;
            gap: 8px;
            margin: 12px;
            img {
              width: 14px;
              height: 14px;
            }
            p {
              margin: 0;
            }
          }
          &__form {
            display: flex;
            flex-direction: column;
            &__heading {
              text-align: center;
            }
            &__link {
              border-radius: 20px;
              padding: 12px 16px;
              margin-bottom: 8px;
            }
          }
        }
        &__messagers {
          display: flex;
          justify-content: space-between;
          width: 200px;
          margin: 16px auto;
          img {
            width: 32px;
          }
        }

        &__logo {
          display: flex;
          justify-content: center;
          img {
            width: 35px;
          }
          padding-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .container-header {
    max-width: 330px;
    height: 60px;
  }

  .container-start {
    padding-top: 72px;
  }

  .start {
    &__section {
      margin: 0 auto;
      &-heading {
        font-size: 24px;
        width: 335px;
      }
      &-text {
        font-size: 14px;
        width: 335px;
      }
    }
  }
  .mockup-box__item {
    overflow: hidden;
    position: relative;
    left: -57%;
    &-mockup {
      width: 800px;
    }
  }

  .review {
    margin: 0;
    &__swiper__heading {
      margin-top: 64px;
      margin-bottom: 24px;
      padding: 0;
      &-main {
        font-size: 24px;
      }
      &-subtitle {
        font-size: 14px;
      }
    }
    &__swiper {
      padding: 20px;
    }
    .swiper {
      &-slide {
        padding: 24px;
        &__profile {
          width: 287px;

          &-pic {
            width: 56px;
          }
          &-about {
            padding-left: 24px;
            .name {
              font-size: 16px;
              font-weight: bold;
            }
            .posission {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .comparation {
    &__section {
      &::after {
        top: 30%;
        left: 30%;
        width: 80%;
        height: 50%;
        filter: blur(100px);
        background: linear-gradient(
          270deg,
          rgba(249, 249, 65, 0.3) 50%,
          rgba(69, 192, 31, 0.692) 50%
        );
      }
    }
  }

  .result {
    padding: 0 20px 0 20px;
    margin: 0;
    &__section {
      margin: 20px;
      margin-top: 64px;
      &__title {
        font-size: 24px;
      }
      &__subtitle {
        font-size: 14px;
        font-weight: normal;
        padding: 0;
      }
    }

    &__swiper {
      &-pagination {
        display: none;
      }
      &__buttons {
        display: block;
      }
    }
    .role {
      .role-slide {
        height: 300px;
        &__info {
          justify-content: left;
        }
        height: 300px !important;
      }
    }

    .swiper {
      padding: 20px;
      &-slide {
        gap: 12px;

        &__info {
          &__count {
            h2 {
              font-size: 48px;
            }
          }
          &__text {
            margin: 0;

            &-heading {
              font-size: 16px;
              margin-top: 12px;
            }

            &-subtitle {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .kunin {
    &__section {
      width: 335px;
      margin: 0 auto;
      flex-direction: column;

      &__item {
        &__black {
          padding: 20px;
          &__heading {
            font-size: 24px;
            margin: 0;
          }
        }
        &__pic {
          border-radius: 20px;
        }
      }
      &__item__pic {
        position: static;
        &__box {
        }
      }
    }
  }

  .form {
    margin: 64px auto;
    padding-left: 20px;
    padding-right: 20px;
    &__section {
      margin: 0;
      &__text {
        font-size: 14px;
      }
    }
  }
}
