body {
  background-color: var(--white);
  font-family: "Manrope", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 72px;
  margin-top: 120px;
}

.subtitle {
  font-size: 20px;
}

.container {
  padding: 0 20px;
  max-width: 1740px;
  width: 100%;
  margin: 0 auto;
}
.container-swiper {
  padding: 0;
  max-width: 1740px;
  width: 100%;
  margin: 0 auto;
}

.container-header {
  max-width: 1628px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  height: 35px;
  width: 35px;
  border-right: 1px solid var(--black);
  padding-right: 12px;
}

.button {
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 40px;
  padding: 20px 138px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;

  transition: all 0.5s ease-out;
  &:hover {
    color: var(--black);
    background-color: var(--green);
  }
}

.container-start {
  max-width: 1128px;
  width: 100%;
  margin: 0 auto;
}

.macbook {
  max-width: 852px;
  width: 100%;
  position: relative;
}

.shadow {
  box-shadow: rgba(108, 108, 108, 0.2) 0px 3px 0 0,
    rgba(57, 57, 60, 0.2) 0px 4px 15px 0px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
}

.swiper-wrapper {
  padding: 20px;
}

.swiper-pagination-bullet {
  transition: all 0.5s ease-out;
  border-radius: 10px;
  width: 71px;
  height: 2px;
  margin-right: 8px;

  &-active {
    background-color: var(--black);
    width: 119px;
    height: 4px;
  }
}

.swiper-slide-active {
  background-color: var(--green);
}
