:root {
  --green: #e6ffd6;
  --white: #fefefe;
  --white-additional: #fbfbfb;
  --black: #171717;
  --gray-light: #f6f6f6;
  --gray-dark: #e8e8e8;
  --yellow: #f4f9d2;
  --stroke: rgb(117, 128, 153, 0.4);
}
