@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
@import "./_variables", "./_vars";

.header {
  top: 0;
  left: 0;
  background: var(--white);
  position: sticky;
  z-index: 20;

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    &__nav-bar {
      display: flex;
      align-items: center;

      &__link {
        a {
          text-decoration: none;
          font-size: 16px;
          color: var(--color-black);
          margin-right: 24px;

          &:hover {
            transition: all 0.5s ease-out;
            text-shadow: var(--black) 5px 0 10px;
          }
        }
        a:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.start {
  &__section {
    margin-top: 64px;

    &-heading {
      font-size: 80px;
      text-align: center;
      margin: 0;
    }

    &-text {
      max-width: 810px;
      width: 100%;
      text-align: center;
      margin-top: 16px;
    }

    &-button {
      padding: 16px 48px;
    }

    .mockup-box {
      display: flex;
    }
  }
}

.review {
  padding-left: 95px;
  overflow: hidden;

  &__swiper {
    margin-top: 80px;
    margin-bottom: 122px;

    &__heading {
      padding-bottom: 48px;
      text-align: center;

      &-main {
        font-size: 72px;
        margin: 0;
      }

      &-subtitle {
        font-size: 20px;
        margin-top: 0;
      }
    }
  }

  .slider1 {
    &__buttons {
      display: flex;
      gap: 24px;

      &-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 50%;
        width: 65px;
        height: 65px;

        &:hover {
          transition: all 0.5s ease-out;
          background-color: var(--black);
        }

        img {
          padding-top: 22px;
          &:hover {
            transition: all 0.5s ease-out;
            filter: invert(100%);
          }
        }
      }
    }
  }

  .swiper {
    &-wrapper {
      max-width: 1800px;
      width: 100%;
    }

    &-slide {
      max-width: 695px !important;
      width: 100%;

      padding: 32px 40px;
      margin-bottom: 20px;
      border-radius: 20px;
      background-color: var(--white-additional);

      &__profile {
        display: flex;
        align-items: center;

        &-pic {
          max-width: 151px;
          width: 100%;
          border-radius: 50%;
        }

        &-about {
          display: flex;
          flex-direction: column;
          padding-left: 24px;
        }
      }
    }
  }
}

.join {
  &__section {
    margin-top: 120px;
    background-color: var(--black);
    border-radius: 40px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: end;

    .crypto_phone {
      max-width: 639px;
      width: 100%;
    }

    &__text {
      color: var(--white);
      padding: 156px 24px 168px 145px;
      max-width: 840px;
      width: 100%;

      &-info {
        font-size: 40px;
        margin-bottom: 73px;
      }
    }
    &__img {
      background-color: var(--white);
      border-radius: 40px;

      &-box {
        padding: 24px 193px 38px;
        width: 311px;
      }
    }
  }

  &__button {
    background-color: var(--white);
    color: var(--black);

    &:hover {
      background-color: var(--black);
      color: var(--white);
      border-color: var(--white);
    }
  }
}

.role {
  margin-top: 120px;
  padding-left: 95px;
  overflow: hidden;

  &__swiper-pagination {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .swiper {
    &-pagination {
      position: static;
      width: 380px !important;

      &-bullet {
        transition: all 0.5s ease-out;
        border-radius: 10px;
        width: 71px;
        height: 2px;
        margin-right: 8px;

        &-active {
          background-color: var(--black);
          width: 119px;
          height: 4px;
        }
      }
    }
    &-slide {
      &-active {
        background-color: var(--green);
      }
    }
  }
  &__swiper {
    &__heading {
      font-size: 72px;
      max-width: 850px;
      width: 100%;
      padding-bottom: 48px;
      margin: 0;
    }

    &__slide {
      border-radius: 20px;
      background-color: var(--gray-light);
      max-width: 697px;
      width: 100%;
      max-height: 507px;
      padding: 32px 40px;
      display: flex;
      justify-content: space-between;

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__count {
          h2 {
            margin: 0;
            font-size: 72px;
          }
        }

        &__text {
          margin: 0;
          max-width: 308px;
          width: 100%;

          &-heading {
            font-size: 20px;
            margin: 0;
          }

          &-subtitle {
            font-size: 16px;
          }
        }
      }

      &-img {
        max-width: 277px;
        width: 100%;

        padding-top: 72px;
      }
    }
  }
}

.invest {
  &__section {
    margin-top: 148px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    position: relative;

    &__white,
    &__black {
      &__heading {
        font-size: 32px;
        margin: 0;
        max-width: 500px;
        width: 100%;
      }
      &__text {
        font-size: 20px;
        max-width: 408px;
        width: 100%;
      }
    }

    &__black {
      color: var(--white);
      background-color: var(--black);
      border-radius: 20px;
      max-width: 552px;
      width: 100%;
      padding: 125px 144px;
    }

    &__pic {
      position: absolute;
      max-width: 340px;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__white {
      position: absolute;
      bottom: 135px;
      right: 85px;
      font-size: 36px;
      color: var(--black);
      margin: 0;

      &__button {
        margin-top: 80px;
      }
    }
  }
}

.benefits {
  margin-top: 120px;
  padding-left: 95px;
  overflow: hidden;

  .swiper {
    &-wrapper {
      margin-bottom: 20px;
    }
    &-slide {
      &-active {
        background-color: var(--green);

        .benefits__swiper__slide__heading__img {
          path {
            fill: white;
            stroke: black !important;
          }
          background-color: var(--white);
        }
      }
    }
  }

  &__swiper {
    &__heading {
      font-size: 72px;
      max-width: 1170px;
      width: 100%;
      padding-bottom: 48px;
      margin: 0;
    }

    &__slide {
      border-radius: 20px;
      background-color: var(--gray-light);
      max-width: 507px;
      width: 100%;
      padding: 32px 40px;
      display: flex;
      justify-content: space-between;

      &__heading {
        display: flex;
        align-items: center;
        &__img {
          max-width: 59px;
          padding: 16px;
          background-color: var(--black);
          border-radius: 20px;
        }
        &__text {
          margin-left: 16px;
        }

        &__text {
          margin: 0 0 0 16px;
          font-size: 20px;
        }
      }
    }
  }
}

.comparation {
  &__section {
    margin-top: 120px;

    &__heading {
      font-size: 72px;
      max-width: 1000px;
      margin-bottom: 0;

      &-small {
        font-size: 20px;
        font-weight: normal;
        margin-top: 0;
      }
    }

    &__swiper {
      &__info {
        display: flex;
        gap: 24px;

        &__feature {
          max-width: fit-content;
          width: 100%;
          border-radius: 20px;
          padding: 156px 153px 56px;
          box-sizing: border-box;
          margin-left: 24px;

          ul {
            list-style-type: none;
            padding: 0;
          }
          li {
            margin-top: 56px;
            text-align: center;
            font-size: 20px;
            height: 64px;
            line-height: 64px;

            img {
              width: 32px;
            }
          }
        }

        &__slides {
          .slide1 {
            background-color: var(--white);
          }

          .slide2 {
            background-color: var(--gray-dark);
          }

          .slide3 {
            background-color: var(--black);
            color: var(--white);
          }
        }
      }
    }

    .swiper {
      &-pagination {
        display: none;
      }
      &-slide {
        max-width: fit-content;
        width: 100%;
        border-radius: 20px;
        padding: 56px 133px;
        box-sizing: border-box;
        margin-left: 24px;

        &-heading {
          font-size: 32px;
        }

        ul {
          list-style-type: none;
          padding: 0;
        }
        li {
          margin-top: 56px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 64px;
          line-height: 64px;

          &:first-child {
            margin-top: 60px;
          }

          img {
            width: 32px;
          }
        }
      }
    }

    &__send {
      display: flex;
      justify-content: end;
      padding-top: 48px;

      &-box {
        display: flex;
        max-width: 1130px;
        width: 100%;
      }
      &__text {
        font-weight: normal;
        width: 650px;
        font-size: 18px;
        margin: 0;
      }

      &__button {
        padding: 16px 160px;
      }
    }
  }
}

.result {
  margin-top: 120px;
  padding-left: 95px;
  overflow: hidden;

  &__swiper-pagination {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .swiper {
    &-pagination {
      position: static;
      width: 380px !important;

      &-bullet {
        transition: all 0.5s ease-out;
        border-radius: 10px;
        width: 71px;
        height: 2px;
        margin-right: 8px;

        &-active {
          background-color: var(--black);
          width: 119px;
          height: 4px;
        }
      }
    }
    &-slide {
      height: 380px;
      &-active {
        background-color: var(--green);
      }
    }
  }
  &__swiper {
    &__heading {
      font-size: 72px;
      max-width: 1100px;
      width: 100%;

      margin: 0;
      &-small {
        font-size: 20px;
        font-weight: normal;
        margin: 0;
        padding-bottom: 48px;
      }
    }

    &__slide {
      border-radius: 20px;
      background-color: var(--gray-light);
      max-width: 522px;

      width: 100%;
      padding: 32px;
      display: flex;
      justify-content: space-between;

      &__info {
        display: flex;
        flex-direction: column;

        &__count {
          h2 {
            margin: 0;
            font-size: 72px;
          }
        }

        &__text {
          margin: 0;

          &-heading {
            font-size: 20px;
            margin: 0;
            margin-top: 65px;
          }

          &-subtitle {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.kunin {
  &__section {
    display: flex;
    border-radius: 20px;
    position: relative;
    margin-top: 120px;

    &__item {
      &__black {
        color: var(--white);
        background-color: var(--black);
        border-radius: 20px;
        max-width: 552px;
        width: 100%;
        padding: 135px 144px;

        &__heading {
          font-size: 32px;
        }

        &__list {
          font-size: 16px;

          ul {
            list-style-image: url("../images/arrow.svg");
          }
          li {
            margin-bottom: 16px;
          }
        }
      }
      &__pic {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);

        &__box {
          position: relative;
          max-width: 545px;
          width: 100%;
          &-text {
            position: absolute;
            bottom: 16px;
            right: 33px;
            font-size: 36px;
            color: var(--white);
            margin: 0;
          }
        }
      }

      &__achivments {
        &__box {
          position: absolute;
          z-index: -1;
          top: 42px;
          right: 115px;

          display: flex;
          flex-direction: column;
          max-width: 255px;
          width: 100%;

          &__item {
            text-align: center;
            margin-bottom: 32px;

            :first-child {
              margin-top: 61px;
            }

            &__heading {
              margin: 0;
              font-size: 64px;
            }
            &__text {
              margin: 0;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.advantages {
  &__section {
    &__heading {
      font-size: 72px;
      &-small {
        font-size: 20px;
        font-weight: normal;
      }
    }

    &__links {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 24px;

      &__item {
        max-width: 322px;
        width: 100%;
        height: 253px;
        background-color: var(--gray-light);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        text-decoration: none;
        color: var(--black);

        &__header {
          font-size: 20px;
          padding: 24px;
        }
        &__text {
          display: none;
          padding: 24px;
          font-size: 18px;
        }

        &:hover {
          background-color: var(--green);
          .advantages__section__links__item__header {
            display: none;
          }
          .advantages__section__links__item__text {
            display: block;
          }
        }
      }
      &:first-child {
        font-size: 18px;
      }
    }

    &__send {
      display: flex;
      justify-content: end;
      padding-top: 48px;

      &-box {
        display: flex;
        max-width: 1130px;
        width: 100%;
      }

      &__text {
        font-weight: normal;
        padding-left: 24px;
        width: 650px;
        font-size: 18px;
        margin: 0;
      }

      &__button {
        padding: 16px 160px;
        border-radius: 40px;
      }
    }
  }
}

.faq {
  &__section {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 120px;
    padding: 34px 71px 54px;

    &__box {
      padding-right: 240px;
      max-width: 607px;
      width: 100%;
      &__heading {
        font-size: 64px;
      }
      &__text {
        font-size: 20px;
      }
    }

    &__dropdown-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 74px;
    }
  }

  .dropdown {
    cursor: pointer;
    border-bottom: 0.1px solid var(--gray-dark);
    padding-right: 37px;
  }

  .dropdown__content {
    max-height: 0;
    transition: 200ms;
    overflow: hidden;
    padding: 0 1rem;
  }

  .dropdown__title {
    position: relative;
    padding-right: 1.5em;
  }

  .dropdown__title::after {
    content: "+";
    float: right;
    font-size: 1.5em;
    margin-left: 0.5em;
  }

  .dropdown.active .dropdown__content {
    max-height: 100vh;
    padding: 1rem;
    transition: 400ms;
  }

  .dropdown.active .dropdown__title::after {
    content: "-";
  }
}

.form {
  &__section {
    max-width: 700px;
    width: 100%;
    margin: 120px auto;
    display: flex;
    flex-direction: column;

    padding: 32px;

    border-radius: 20px;

    &__heading {
      font-size: 48px;
      margin-bottom: 0;
    }
    &__text {
      font-size: 20px;
    }
    &__button {
      padding: 16px 90px;
    }
  }
}

footer {
  border-top: 1px solid var(--stroke);
}

.footer {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 33px;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 48px;
    }

    &__set {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }

    &__messagers {
      padding-right: 93px;
      &__item {
        width: 48px;
      }
    }
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;

    &__form {
      .formm {
        padding: 10px 80px;
        border-radius: 20px;
        text-decoration: none;
      }
      &__heading {
        font-size: 18px;
      }
      &__button {
        padding: 12px 16px;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      gap: 48px;
      align-items: end;
    }
  }
}
