@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
body {
  background-color: var(--white);
  font-family: "Manrope", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-header {
  max-width: 1628px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  height: 35px;
  width: 35px;
  border-right: 1px solid var(--black);
  padding-right: 12px;
}

.button {
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 40px;
  padding: 20px 138px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}
.button:hover {
  color: var(--black);
  background-color: var(--green);
  transition: all 0.5s ease-out;
}

.container-start {
  max-width: 1128px;
  width: 100%;
  margin: 0 auto;
}

.macbook {
  max-width: 852px;
  width: 100%;
  position: relative;
}

.shadow {
  box-shadow: rgba(108, 108, 108, 0.2) 0px 3px 0 0, rgba(57, 57, 60, 0.2) 0px 4px 15px 0px;
}

.name {
  font-size: 24px;
  margin: 0;
}

.posission {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
}

.join__container {
  max-height: 700px;
  height: 100%;
  max-width: 1706px;
  width: 100%;
  margin: 0 auto;
}

.container__1706 {
  max-width: 1706px;
  width: 100%;
  margin: 0 auto;
}

.item-containe {
  padding: 24px;
}

.center-text {
  text-align: center;
}

:root {
  --green: #e6ffd6;
  --white: #fefefe;
  --white-additional: #fbfbfb;
  --black: #171717;
  --gray-light: #f6f6f6;
  --gray-dark: #e8e8e8;
  --yellow: #f4f9d2;
  --stroke: rgb(117, 128, 153, 0.4);
}

.header {
  top: 0;
  left: 0;
  background: var(--white);
  position: sticky;
  z-index: 50;
}
.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header__section__nav-bar {
  display: flex;
  align-items: center;
}
.header__section__nav-bar__link a {
  text-decoration: none;
  font-size: 16px;
  color: var(--color-black);
  margin-right: 24px;
}
.header__section__nav-bar__link a:hover {
  transition: all 0.5s ease-out;
}
.header__section__nav-bar__link a:last-child {
  margin-right: 0;
}

.start__section {
  margin-top: 64px;
}
.start__section-heading {
  font-size: 80px;
  text-align: center;
  margin: 0;
}
.start__section-text {
  max-width: 810px;
  width: 100%;
  text-align: center;
  margin-top: 16px;
  font-size: 16px;
}
.start__section-button {
  padding: 16px 48px;
  display: flex;
}

.review {
  margin-top: 80px;
  margin-bottom: 122px;
}
.review__swiper {
  padding: 50px;
}
.review__swiper__heading {
  padding-bottom: 48px;
  text-align: center;
}
.review__swiper__heading-main {
  font-size: 72px;
  margin: 0;
}
.review__swiper__heading-subtitle {
  font-size: 20px;
  margin-top: 0;
}
.review .slider__buttons {
  display: flex;
  gap: 24px;
}
.review .slider__buttons-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.review .slider__buttons-navigation:hover {
  transition: all 0.5s ease-out;
  background-color: var(--black);
}
.review .slider__buttons-navigation img {
  padding-top: 22px;
}
.review .slider__buttons-navigation img:hover {
  transition: all 0.5s ease-out;
  filter: invert(100%);
}
.review .swiper-wrapper {
  max-width: 1800px;
  width: 100%;
}
.review .swiper-slide {
  max-width: 695px;
  width: 100%;
  padding: 32px 40px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: var(--white-additional);
}
.review .swiper-slide__profile {
  display: flex;
  align-items: center;
}
.review .swiper-slide__profile-pic {
  max-width: 151px;
  width: 100%;
  border-radius: 50%;
}
.review .swiper-slide__profile-about {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.join__section {
  margin-top: 120px;
  background-color: var(--black);
  border-radius: 40px;
  color: var(--white);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.join__section__text {
  color: var(--white);
  padding: 156px 24px 168px 145px;
  max-width: 840px;
  width: 100%;
}
.join__section__text-info {
  font-size: 40px;
  margin-bottom: 73px;
}
.join__section__img {
  background-color: var(--white);
  border-radius: 40px;
}
.join__section__img .crypto_phone {
  width: 311px;
}
.join__section__img-box {
  padding: 24px 193px 38px;
}
.join__button {
  background-color: var(--white);
  color: var(--black);
}
.join__button:hover {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--white);
}

.role {
  margin-top: 120px;
}
.role__section__heading {
  font-size: 72px;
  max-width: 850px;
  width: 100%;
  padding-bottom: 48px;
  margin: 0;
}
.role .desktop-box {
  display: flex;
  gap: 36px;
}
.role .media__box {
  display: none;
}
.role__swiper__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  max-width: 308px;
  width: 100%;
}
.role__swiper__text__count {
  margin: 0;
  font-size: 72px;
}
.role__swiper__text__heading {
  font-size: 20px;
  margin: 0;
}
.role__swiper__text__subtitle {
  font-size: 16px;
}
.role__swiper__img {
  padding-top: 72px;
}
.role .swiper-slide {
  border-radius: 20px;
  background-color: var(--gray-light);
  padding: 32px 50px;
  height: 500px;
}
.role .swiper-slide-active {
  background-color: var(--green);
}
.role .swiper-pagination {
  position: static;
  display: flex;
  justify-content: end;
  margin-top: 24px;
}
.role .swiper-pagination-bullet {
  transition: all 0.5s ease-out;
  border-radius: 10px;
  width: 71px;
  height: 2px;
  margin-right: 8px;
}
.role .swiper-pagination-bullet-active {
  background-color: var(--black);
  width: 119px;
  height: 4px;
}

.invest__section {
  margin-top: 148px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  position: relative;
}
.invest__section__white__heading, .invest__section__black__heading {
  font-size: 32px;
  margin: 0;
  max-width: 500px;
  width: 100%;
}
.invest__section__white__text, .invest__section__black__text {
  font-size: 20px;
  max-width: 408px;
  width: 100%;
}
.invest__section__black {
  color: var(--white);
  background-color: var(--black);
  border-radius: 20px;
  padding: 110px 170px;
}
.invest__section__pic {
  position: absolute;
  width: 340px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.invest__section__white {
  position: absolute;
  bottom: 135px;
  right: 85px;
  font-size: 36px;
  color: var(--black);
  margin: 0;
}
.invest__section__white__button {
  margin-top: 80px;
}

.comparation__section {
  margin-top: 120px;
}
.comparation__section__title {
  font-size: 72px;
  max-width: 1000px;
  margin-bottom: 0;
}
.comparation__section__subtitle {
  font-size: 20px;
  font-weight: normal;
  margin-top: 0;
}
.comparation__section__box__features {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.comparation__section__box__features__items {
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  border-radius: 20px;
  padding: 170px 120px 56px;
  box-sizing: border-box;
}
.comparation__section__box__features__items ul {
  list-style-type: none;
  padding: 0;
}
.comparation__section__box__features__items li {
  margin-top: 56px;
  text-align: center;
  font-size: 20px;
  height: 64px;
  line-height: 64px;
}
.comparation__section__box__blocks {
  display: flex;
  overflow: scroll;
  padding: 20px;
}
.comparation__section__box__blocks .slide1 {
  background-color: var(--white);
}
.comparation__section__box__blocks .slide2 {
  background-color: var(--gray-dark);
}
.comparation__section__box__blocks .slide3 {
  background-color: var(--black);
  color: var(--white);
}
.comparation__section__box__blocks__item {
  border-radius: 20px;
  padding: 56px 120px;
  box-sizing: border-box;
  margin-left: 24px;
}
.comparation__section__box__blocks__item-heading {
  width: 170px;
  font-size: 32px;
}
.comparation__section__box__blocks__item ul {
  list-style-type: none;
  padding: 0;
}
.comparation__section__box__blocks__item li {
  margin-top: 56px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  line-height: 64px;
}
.comparation__section__box__blocks__item li:first-child {
  margin-top: 60px;
}
.comparation__section__box__blocks__item li img {
  width: 32px;
}
.comparation__section__send {
  display: flex;
  justify-content: end;
  padding-top: 48px;
}
.comparation__section__send-box {
  display: flex;
  max-width: 1130px;
  width: 100%;
}
.comparation__section__send__text {
  font-weight: normal;
  width: 650px;
  font-size: 18px;
  margin: 0;
}
.comparation__section__send__button {
  padding: 16px 160px;
}

.result {
  margin: 0 auto;
  overflow: hidden;
}
.result__section {
  margin: 95px;
  margin-top: 120px;
}
.result__section__title {
  font-size: 72px;
  max-width: 1100px;
  width: 100%;
  margin: 0;
}
.result__section__subtitle {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 48px;
}
.result__swiper-pagination {
  width: 100%;
  display: flex;
  justify-content: end;
}
.result .swiper-slide {
  border-radius: 20px;
  height: 400px;
  background-color: var(--gray-light);
  padding: 32px;
  display: flex;
  justify-content: space-between;
}
.result .swiper-slide__info {
  display: flex;
  flex-direction: column;
}
.result .swiper-slide__info__count h2 {
  margin: 0;
  font-size: 72px;
}
.result .swiper-slide__info__text {
  margin: 0;
}
.result .swiper-slide__info__text-heading {
  font-size: 20px;
  margin: 0;
  margin-top: 65px;
}
.result .swiper-slide__info__text-subtitle {
  font-size: 16px;
}
.result .swiper__buttons {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}
.result .swiper__buttons-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.result .swiper__buttons-navigation:hover {
  transition: all 0.5s ease-out;
  background-color: var(--black);
}
.result .swiper__buttons-navigation img {
  padding-top: 22px;
}
.result .swiper__buttons-navigation img:hover {
  transition: all 0.5s ease-out;
  filter: invert(100%);
}
.result .swiper-container .swiper__buttons {
  display: none;
}
.result .swiper-pagination {
  position: static;
  width: 380px !important;
}
.result .swiper-pagination-bullet {
  transition: all 0.5s ease-out;
  border-radius: 10px;
  width: 71px;
  height: 2px;
  margin-right: 8px;
}
.result .swiper-pagination-bullet-active {
  background-color: var(--black);
  width: 119px;
  height: 4px;
}
.result .swiper-slide-active {
  background-color: var(--green);
}

.kunin__section {
  display: flex;
  border-radius: 20px;
  position: relative;
  margin-top: 120px;
}
.kunin__section__item__black {
  color: var(--white);
  background-color: var(--black);
  border-radius: 20px;
  padding: 135px 170px;
}
.kunin__section__item__black__heading {
  font-size: 32px;
  max-width: 552px;
  width: 100%;
}
.kunin__section__item__black__list {
  font-size: 16px;
  max-width: 552px;
}
.kunin__section__item__black__list ul {
  list-style-image: url("../images/arrow.svg");
}
.kunin__section__item__black__list li {
  margin-bottom: 16px;
}
.kunin__section__item__pic {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.kunin__section__item__pic__box {
  position: relative;
  max-width: 545px;
  width: 100%;
}
.kunin__section__item__pic__box-text {
  position: absolute;
  bottom: 16px;
  right: 33px;
  font-size: 36px;
  color: var(--white);
  margin: 0;
}
.kunin__section__item__achivments__box {
  position: absolute;
  z-index: -1;
  top: 42px;
  right: 115px;
  display: flex;
  flex-direction: column;
  max-width: 255px;
  width: 100%;
}
.kunin__section__item__achivments__box__item {
  text-align: center;
  margin-bottom: 32px;
}
.kunin__section__item__achivments__box__item :first-child {
  margin-top: 61px;
}
.kunin__section__item__achivments__box__item__heading {
  margin: 0;
  font-size: 64px;
}
.kunin__section__item__achivments__box__item__text {
  margin: 0;
  font-size: 20px;
}

.advantages__section__heading {
  font-size: 72px;
}
.advantages__section__heading-small {
  font-size: 20px;
  font-weight: normal;
}
.advantages__section__links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}
.advantages__section__links__item {
  max-width: 322px;
  width: 100%;
  background-color: var(--gray-light);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: var(--black);
}
.advantages__section__links__item__header {
  font-size: 20px;
  padding: 24px;
}
.advantages__section__links__item__text {
  display: none;
  padding: 24px;
  font-size: 18px;
}
.advantages__section__links__item:hover {
  background-color: var(--green);
}
.advantages__section__links__item:hover .advantages__section__links__item__header {
  display: none;
}
.advantages__section__links__item:hover .advantages__section__links__item__text {
  display: block;
}
.advantages__section__links:first-child {
  font-size: 18px;
}
.advantages__section__send {
  display: flex;
  justify-content: end;
  padding-top: 48px;
}
.advantages__section__send-box {
  display: flex;
  max-width: 1130px;
  width: 100%;
}
.advantages__section__send__text {
  font-weight: normal;
  padding-left: 24px;
  width: 650px;
  font-size: 18px;
  margin: 0;
}
.advantages__section__send__button {
  padding: 16px 160px;
  border-radius: 40px;
}

.faq__section {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 120px;
  padding: 34px 71px 54px;
}
.faq__section__box {
  padding-right: 240px;
  max-width: 607px;
  width: 100%;
}
.faq__section__box__heading {
  font-size: 64px;
}
.faq__section__box__text {
  font-size: 20px;
}
.faq__section__dropdown-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 74px;
}
.faq .dropdown {
  cursor: pointer;
  border-bottom: 0.1px solid var(--gray-dark);
  padding-right: 37px;
}
.faq .dropdown__content {
  max-height: 0;
  transition: 200ms;
  overflow: hidden;
  padding: 0 1rem;
}
.faq .dropdown__title {
  position: relative;
  padding-right: 1.5em;
}
.faq .dropdown__title::after {
  content: "+";
  float: right;
  font-size: 1.5em;
  margin-left: 0.5em;
}
.faq .dropdown.active .dropdown__content {
  max-height: 100vh;
  padding: 1rem;
  transition: 400ms;
}
.faq .dropdown.active .dropdown__title::after {
  content: "-";
}

.form__section {
  max-width: 700px;
  width: 100%;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 20px;
}
.form__section__heading {
  font-size: 48px;
  margin-bottom: 0;
}
.form__section__text {
  font-size: 20px;
}
.form__section__button {
  padding: 16px 90px;
}

footer {
  border-top: 1px solid var(--stroke);
}

.footer {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 33px;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__info__logo {
  width: 48px;
}
.footer__info__set {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.footer__info__messagers {
  padding-right: 93px;
}
.footer__info__messagers__item {
  width: 48px;
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
}
.footer__contacts__form .formm {
  padding: 10px 80px;
  border-radius: 20px;
  text-decoration: none;
}
.footer__contacts__form__heading {
  font-size: 18px;
}
.footer__contacts__form__button {
  padding: 12px 16px;
}
.footer__contacts__info {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  align-items: end;
}

.footer-mobile {
  display: none;
}

@media screen and (max-width: 1720px) {
  .join__container {
    width: 1600px;
  }
  .join__section__text {
    padding: 120px 24px 140px 100px;
  }
  .invest__section__pic {
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
  }
  .invest__section__white {
    right: 20px;
  }
  .kunin__section__item__pic__box img {
    max-width: 250px;
  }
  .advantages .media-container {
    width: 1500px;
  }
}
@media screen and (max-width: 1650px) {
  .container-header {
    max-width: 1440px;
  }
  .join__container {
    width: 1430px;
  }
  .advantages .media-container {
    width: 1200px;
  }
}
@media screen and (max-width: 1440px) {
  .container-header {
    max-width: 1200px;
  }
  .start__section-heading,
  .review__swiper__heading-main,
  .comparation__section__title,
  .result__section__title,
  .advantages__section__heading,
  .advantages__section__heading,
  .form__section__heading {
    font-size: 64px;
  }
  .join__container {
    width: 1200px;
  }
  .join__section__text {
    padding: 80px 24px 110px 80px;
  }
  .join__section__text-info {
    max-width: 640px;
    font-size: 32px;
  }
  .join__section__img .crypto_phone {
    width: 270px;
  }
  .join__section__img-box {
    padding: 24px 120px 38px;
  }
  .invest__section__pic {
    transform: translate(-20%, -50%);
  }
  .invest__section__white {
    right: 40px;
  }
  .invest__section__white__button {
    padding: 12px 48px;
  }
  .invest__section__black {
    padding-top: 80px;
    padding-right: 290px;
  }
  .invest__section__white__heading, .invest__section__black__heading {
    font-size: 28px;
    margin: 0;
    width: 300px;
  }
  .invest__section__white__text, .invest__section__black__text {
    font-size: 16px;
    width: 308px;
  }
  .footer__info__messagers {
    padding: 0;
  }
  .media-container {
    width: 1200px;
    margin: 70px auto;
  }
}
@media screen and (max-width: 1220px) {
  .container-header {
    max-width: 990px;
  }
  .start__section-heading,
  .review__swiper__heading-main,
  .comparation__section__title,
  .result__section__title,
  .advantages__section__heading,
  .form__section__heading {
    font-size: 32px;
  }
  .join__container {
    width: 970px;
  }
  .join__section__text {
    padding: 60px 24px 70px 80px;
  }
  .join__section__text-info {
    max-width: 640px;
    font-size: 32px;
  }
  .join__section__img .crypto_phone {
    width: 240px;
  }
  .join__section__img-box {
    padding: 24px 80px 38px;
  }
  .invest__section__pic {
    transform: translate(-55%, -50%);
  }
  .invest__section__white {
    left: 65%;
    padding-left: 30px;
  }
  .invest__section__white__button {
    margin-top: 40px;
  }
  .invest__section__black {
    padding-right: 190px;
    padding-left: 40px;
  }
  .invest__section__white__heading, .invest__section__black__heading {
    font-size: 28px;
    margin: 0;
    width: 300px;
  }
  .invest__section__white__text, .invest__section__black__text {
    font-size: 16px;
    width: 308px;
  }
  .advantages .media-container {
    width: 600px;
  }
  .advantages__section__links {
    grid-template-columns: repeat(2, 2fr);
    justify-self: center;
  }
  .faq__section .dropdown {
    padding-right: 0;
  }
  .faq__section .dropdown__title {
    padding: 0;
  }
  .faq__section__box {
    padding-right: 100px;
  }
  .media-container {
    width: 900px;
    margin: 64px auto;
  }
}
@media screen and (max-width: 990px) {
  .container-header {
    max-width: 770px;
  }
  .start {
    max-width: 650px;
    margin: 0 auto;
  }
  .start__section-text {
    font-size: 14px;
    max-width: 550px;
  }
  .join__container {
    width: 650px;
  }
  .join__section__text {
    padding: 40px 24px 0 30px;
  }
  .join__section__text-info {
    max-width: 400px;
    font-size: 28px;
    margin: 0;
  }
  .join__section__text__media-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .join__section__img .crypto_phone {
    width: 150px;
  }
  .join__section__img-box {
    padding: 24px 30px 0;
  }
  .invest {
    margin-top: 64px;
  }
  .invest__section {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 698px;
  }
  .invest__section__black {
    width: 450px;
  }
  .invest__section__pic {
    left: 90%;
  }
  .invest__section__white {
    top: 15%;
    left: 110%;
  }
  .comparation__section__send-box__text {
    width: 300px;
    margin: 0;
  }
  .comparation__section__send-box__button {
    font-size: 16px;
  }
  .comparation__button button {
    padding: 12px 80px;
  }
  .media-container {
    width: 600px;
    margin: 64px auto;
  }
  .faq__section__box__heading {
    font-size: 32px;
  }
  .faq__section__box__text {
    font-size: 16px;
  }
  .faq__section .dropdown__title {
    font-size: 14px;
  }
  .faq__section__box {
    padding-right: 100px;
  }
  .footer__info__set {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__contacts {
    gap: 24px;
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .faq__section {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .faq__section__box__heading {
    font-size: 24px;
    width: 335px;
  }
  .faq__section__box__text {
    font-size: 14px;
    width: 335px;
  }
  .faq .dropdown {
    padding: 0;
  }
  .faq .dropdown__title {
    font-size: 14px;
  }
}
@media screen and (max-width: 650px) {
  .container-start {
    max-width: 550px;
  }
  .button {
    padding: 12px 48px;
    font-size: 16px;
  }
  .header__section__nav-bar__link {
    display: none;
  }
  .container-header {
    max-width: 550px;
  }
  .invest {
    margin-top: 64px;
  }
  .invest__section {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 550px;
  }
  .invest__section__black {
    width: 450px;
  }
  .invest__section__pic {
    left: 100%;
  }
  .invest__section__white {
    top: 70px;
    left: 120%;
  }
  .start__section-heading {
    font-size: 24px;
  }
  .start__section-text {
    font-size: 14px;
  }
  .join__container {
    width: 500px;
  }
  .join__section__text-info {
    max-width: 350px;
    font-size: 24px;
  }
  .join__section__img {
    padding-top: 25px;
  }
  .join__section__img .crypto_phone {
    height: 350px;
  }
  .advantages__section {
    margin: 0 auto;
  }
  .advantages__section__links {
    margin: 0 auto;
    width: 335px;
    grid-template-columns: repeat(1, 1fr);
  }
  .advantages__section__links__item__header {
    margin: 0;
    padding: 29px 20px;
    font-size: 18px;
  }
  .advantages__section__send {
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
  .advantages__section__send__text {
    width: 335px;
  }
  .advantages__section__send-box {
    flex-direction: column;
  }
  .advantages__section__send-box__text {
    font-size: 16px;
  }
  .advantages__section__send__button {
    justify-self: center;
    width: 185px;
    padding: 12px 48px;
    border-radius: 40px;
    margin-top: 20px;
  }
  .advantages__section__send__button-container {
    display: flex;
    justify-content: center;
  }
  .comparation__section__send {
    padding-top: 0;
  }
  .comparation__section__send-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .comparation__section__send-box__text {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
  }
  .comparation__section__send-box__button button {
    padding: 12px;
  }
  .form {
    width: 500px;
    margin: 0 auto;
  }
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: block;
    font-size: 12px;
    width: 335px;
    margin: 0 auto;
  }
  .footer-mobile__box {
    display: flex;
    justify-content: space-between;
  }
  .footer-mobile__box__contacts__items {
    display: flex;
    gap: 8px;
  }
  .footer-mobile__box__contacts__items img {
    width: 14px;
  }
  .footer-mobile__box__contacts__form {
    display: flex;
    flex-direction: column;
  }
  .footer-mobile__box__contacts__form__heading {
    text-align: center;
  }
  .footer-mobile__box__contacts__form__link {
    border-radius: 20px;
    padding: 12px 16px;
    margin-bottom: 8px;
  }
  .footer-mobile__box__messagers {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 16px auto;
  }
  .footer-mobile__box__messagers img {
    width: 32px;
  }
  .footer-mobile__box__logo {
    display: flex;
    justify-content: center;
  }
  .footer-mobile__box__logo img {
    width: 35px;
  }
}
@media screen and (max-width: 550px) {
  .container-header {
    max-width: 330px;
    height: 60px;
  }
  .container-start {
    padding-top: 72px;
  }
  .invest {
    margin-top: 64px;
  }
  .invest__section {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 698px;
  }
  .invest__section__black {
    width: 450px;
  }
  .invest__section__pic {
    left: 150%;
  }
  .invest__section__white {
    top: 70px;
    left: 200%;
  }
  .start__section {
    margin: 0 auto;
  }
  .start__section-heading {
    font-size: 24px;
    width: 335px;
  }
  .start__section-text {
    font-size: 14px;
    width: 335px;
  }
  .mockup-box__item {
    overflow: hidden;
    position: relative;
    left: -57%;
  }
  .mockup-box__item-mockup {
    width: 800px;
  }
  .review {
    margin: 0;
  }
  .review__swiper__heading {
    margin-top: 64px;
    margin-bottom: 24px;
    padding: 0;
  }
  .review__swiper__heading-main {
    font-size: 24px;
  }
  .review__swiper__heading-subtitle {
    font-size: 14px;
  }
  .review__swiper {
    padding: 20px;
  }
  .review .swiper-slide {
    padding: 24px;
  }
  .review .swiper-slide__profile {
    width: 287px;
  }
  .review .swiper-slide__profile-pic {
    width: 56px;
  }
  .review .swiper-slide__profile-about {
    padding-left: 24px;
  }
  .review .swiper-slide__profile-about .name {
    font-size: 16px;
    font-weight: bold;
  }
  .review .swiper-slide__profile-about .posission {
    font-size: 16px;
  }
  .join__container {
    max-width: 335px;
    width: 100%;
  }
  .media-container {
    max-width: 335px;
    width: 100%;
  }
  .container-1706 {
    max-width: 335px;
    width: 100%;
  }
  .join__section {
    margin-top: 64px;
    flex-direction: column;
    text-align: center;
  }
  .join__section__text {
    padding: 24px;
  }
  .join__section__text-info {
    text-align: left;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
  }
  .join__section__text__media-button {
    margin: 0;
    margin-top: 10px;
  }
  .join__section__img {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 25px;
  }
  .join__section__img-box .crypto_phone {
    width: 150px;
    height: auto;
  }
  .join .join__button {
    margin: 0 auto;
  }
  .role {
    margin-top: 64px;
  }
  .role__heading {
    font-size: 24px;
    margin: 0 auto;
    padding-bottom: 24px;
  }
  .role .media__box {
    display: block;
    padding: 24px 16px;
  }
  .role .media__box__heading {
    display: flex;
    justify-content: space-between;
  }
  .role .media__box__heading__count {
    font-size: 48px;
    margin: 0;
  }
  .role .media__box__heading__img {
    width: 234px;
    height: 82px;
    overflow: hidden;
    border-radius: 20px;
  }
  .role .media__box__heading__img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .role .media__box__title, .role .media__box__subtitle {
    font-size: 16px;
  }
  .role .desktop-box {
    display: none;
  }
  .role__swiper {
    margin: 0;
  }
  .role__swiper__text__count {
    margin: 0;
    font-size: 48px;
  }
  .role__swiper__text__heading {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }
  .role__swiper__text__subtitle {
    font-size: 14px;
  }
  .role__swiper__img {
    padding-top: 72px;
  }
  .role .swiper {
    margin: 0 auto;
    padding: 0;
  }
  .role .swiper-slide {
    padding: 24px 16px;
    padding: 0;
  }
  .role .swiper-pagination {
    position: static;
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 24px;
  }
  .comparation__section {
    margin-top: 64px;
  }
  .comparation__section__title {
    font-size: 24px;
  }
  .comparation__section__title-subtitle {
    font-size: 14px;
  }
  .comparation__section__box__features {
    gap: 16px;
  }
  .comparation__section__box__features__items {
    padding: 83px 16px 32px;
    margin: 0;
  }
  .comparation__section__box__features__items li {
    margin-top: 32px;
    font-size: 14px;
    font-weight: bold;
  }
  .comparation__section__box__blocks {
    overflow: scroll;
    padding: 20px;
  }
  .comparation__section__box__blocks .slide1 {
    background-color: var(--white);
  }
  .comparation__section__box__blocks .slide2 {
    background-color: var(--gray-dark);
  }
  .comparation__section__box__blocks .slide3 {
    background-color: var(--black);
    color: var(--white);
  }
  .comparation__section__box__blocks__item {
    padding: 32px 30px;
    margin: 0;
    margin-right: 16px;
  }
  .comparation__section__box__blocks__item-heading {
    font-size: 20px;
    width: 110px;
    margin-top: 10px;
  }
  .comparation__section__box__blocks__item ul {
    padding: 0;
    margin: 0;
  }
  .comparation__section__box__blocks__item li {
    margin-top: 24px;
  }
  .comparation__section__box__blocks__item li:first-child {
    margin: 0;
  }
  .comparation__section__box__blocks__item li img {
    width: 24px;
  }
  .result {
    padding: 0;
    margin: 0;
  }
  .result__section {
    margin: 20px;
    margin-top: 64px;
  }
  .result__section__title {
    font-size: 24px;
    width: 335px;
  }
  .result__section__subtitle {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  .result__swiper-pagination {
    display: none;
  }
  .result__swiper__buttons {
    display: block;
  }
  .result .swiper {
    padding: 20px;
  }
  .result .swiper-slide {
    height: 350px !important;
  }
  .result .swiper-slide__info__count h2 {
    font-size: 48px;
  }
  .result .swiper-slide__info__text {
    margin: 0;
  }
  .result .swiper-slide__info__text-heading {
    font-size: 16px;
    margin-top: 12px;
  }
  .result .swiper-slide__info__text-subtitle {
    font-size: 14px;
  }
  .kunin__section {
    width: 335px;
    margin: 0 auto;
    flex-direction: column;
  }
  .kunin__section__item__black {
    padding: 20px;
  }
  .kunin__section__item__black__heading {
    font-size: 24px;
    margin: 0;
  }
  .kunin__section__item__pic {
    border-radius: 20px;
  }
  .kunin__section__item__pic {
    position: static;
  }
  .form {
    width: 335px;
    margin: 0 auto;
  }
  .form__section__text {
    font-size: 14px;
  }
}/*# sourceMappingURL=styles.css.map */